<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>

		<!--
		MCP Server		 
		-->
		<add key="mcp-server" value="../../../../MCP-Server/EvergineMCPServer.Windows/bin/Debug/net8.0-windows/EvergineMCPServer.Windows.exe"/>		

		<!--
		OpenAI Endpoint
		-->
		<add key="azure-openAi-apiKey" value="[openai-apikey]"/>
		<add key="azure-openAi-apiUrl" value="[openai-apiurl]"/>
		<add key="model-deployment-name" value="[openai-model-name]"/>
		
	</appSettings>
</configuration>